<div class="container">
  <h4> Executive Search & Selection: </h4>
  <p>

    The ability to make insightful decisions about human talent can be a source of competitive advantage. NanoKey's
    largest service practice - Executive Search & Selection - concentrates on helping its clients achieve this edge
    through identification, assessment and recruitment of the world`s most talented business executives & leaders.
    On surface, our Executive Search & Selection process seems to resemble others but our clients discover that there
    is a distinct difference in our practice and delivery.
    Thanks to the experience and knowledge of our whole team as we are able to deliver the right candidates that can
    help organizations grow in any economy.</p>
    <h4> Engagement with Us:</h4>
  <p>    
    On engagement, we strive to gain a clear understanding of our client’s requirement and assist in calibrating and
    harmonizing it with the talent market – with the objective of attracting the best available candidates.
  </p>
  <h4> Proprietary Database: </h4>
  <p>
    Our proprietary and extensive database-driven recruitment delivery platform adds a technological edge to our search
    process, combining search algorithms with our experienced judgment and market intelligence. This is further
    fine-tuned via initial screening and fully validated testing procedures, psychometric assessments and behavioral
    interview techniques followed by peripheral feedback.
    The entire process is followed until a candidate is selected following which we play a bespoke role in negotiation,
    deal closure and transition as the need be.Notably, our hybrid methodology has more than often yielded us exclusive
    mandates as partners in mid to senior level search.

  </p>
</div>