<header>
    <div class="agile-banner_nav">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand"><img id="imgLogo" src="../assets/images/nk5.png" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/Home" routerLinkActive="active-link">Home </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/About" routerLinkActive="active-link">About</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/Services" routerLinkActive="active-link">Services</a>
                        
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="projects.html">Projects</a>
                    </li> -->
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/Contact" routerLinkActive="active-link">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<router-outlet></router-outlet>