<!--The content below is only a placeholder and can be replaced.-->

<!-- <header class="navbar navbar-default navbar-fixed-top affix-top" id="navbar" role="banner" data-spy="affix" data-offset-top="51">
   
  <div style="text-align:left"> 
    <img width="250"  src="../assets/images/nanokey.PNG"/> 
  </div>
</header>
<nav>
    <a routerLink="" routerLinkActive="active-link">Home</a>   |
  <a routerLink="/About" routerLinkActive="active-link">About-Us</a>   |
  <a routerLink="/Services" routerLinkActive="active-link">Services</a> | 
  <a routerLink="/Contact" routerLinkActive="active-link">Contact-Us</a>  |
</nav>
<router-outlet></router-outlet> -->

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#"><img src="../assets/images/nanokeytrans.png"/> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar" class="pull-right"> 
          <ul class="navbar-nav">          
            <li class="nav-item">
                    <a class="nav-link" routerLink="/Home" routerLinkActive="active-link">Home</a> 
                </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/About" routerLinkActive="active-link">About-Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/Services" routerLinkActive="active-link">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/Contact" routerLinkActive="active-link">Contact-Us</a> 
            </li>    
          </ul>
        </div> 
</nav>

<router-outlet></router-outlet>
