/*-- footer --*/
footer h3{
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 2px;
	color: #eee;
}
footer {
    background: #222;
}
footer p {
    font-size: 15px;
    color: #999;
    line-height: 28px;
    letter-spacing: 1px;
}
footer .posts p.middle {
    border-top: 1px dotted #fff;
    border-bottom: 1px dotted #fff;
}
footer p span {
	display: block;
    font-size: 15px;
}
.links a{
	display:block;
    color: #999;
    font-size: 15px;
    letter-spacing: 1px;
}
.links i.fas {
    margin-right: 2px;
}
.links a:hover{
    color: #fff;
}
footer  form {
    border: 1px solid #888;
    width: 100%;
    border-radius: 30px;
}
footer [type="email"] {
    outline: none;
    padding: 12px 25px;
    color: #999;
    font-size: 13px;
    width: 85%;
    border: none;
    background: none;
    letter-spacing: 1px;
}
button.btn1 {
    color: #999;
    border: none;
    padding: 10px 0;
    outline: none;
    text-align: center;
    text-decoration: none;
    background: none;
    cursor: pointer;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    float: right;
    width: 15%;
}
address{
    color: white !important;
}
address strong{
    padding: 10px;
}
address h4,address p strong {
    font-size: 18px;
    color: #bbb;
    letter-spacing: 1px;
    font-weight: 600;
	text-decoration: underline;
}
address p {
    font-size: 15px;
    color: #929292;
}
address p a {
    color: #999;
}
address p a:hover {
    color: #fff;
}
.copyright p {
    letter-spacing: 1px;
    font-size: 15px;
    color: #999;
}
.copyright p a {
    color: #eee;
}
.copyright p a:hover {
    color: #009688;
}
.copyright {
    /* background: #1b1b1b; */
    background: #222;
}
.pb-4, .py-4{
    padding-bottom:0 !important;
    padding-top: 0 !important;
}
.py-5{
    padding-bottom:0 !important;
}
.row{    
    text-align: center;
}
.social li {
    display: inline-block;
}
.social li a {
    color: #999;
    font-size: 15px;
}
.social li a:hover {
    color: #fff;
}
li{
   float: left; 
   padding: 5px;
}
#fb{
    width: 33px;
    height: 38px;
    background: url(/assets/images/banner/fmtw.jpg) 0 0;
    z-index: 9;
    /* position: absolute; */
    background-position: -36px -114px;
}
#twitter{
    width: 46px;
    height: 42px;
    background: url(/assets/images/banner/fmtw.jpg) 0 0;
    z-index: 9;
    background-position: -117px -168px;
}
/*-- footer --*/