<div class="inner-banner">
	
</div>
<section class="contact py-5 my-lg-5">
	<div class="container">
		<h3 class="heading text-center text-capitalize mb-5">Contact Us</h3>
		<div class="row contact_information">
			<div class="col-md-6 contact_left p-lg-5 p-4">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15224.997562905564!2d78.36776457031942!3d17.447773629211873!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb93dc8c5d69df%3A0x19688beb557fa0ee!2sHITEC+City%2C+Hyderabad%2C+Telangana+500081!5e0!3m2!1sen!2sin!4v1544511127514" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<div class="col-md-6 mt-md-0 mt-4">
				<div class="contact_right p-lg-5 p-4">
					<form action="#" method="post">
						<div class="w3_agileits_contact_left">
							<h3 class="mb-3">Contact form</h3>
							<input type="text" name="Name" placeholder="Your Name" required="">
							<input type="email" name="Email" placeholder="Your Email" required="">
							<input type="text" name="Phone" placeholder="Phone Number" required="">
							<textarea placeholder="Your Description Here..." required=""></textarea>
						</div>
						<div class="w3_agileits_contact_right">
							<input type="submit" value="Submit">
						</div>
						<div class="clearfix"> </div>
					</form>
				</div>
			</div>
			<div class="col-md-6">
				<div class="mt-5 information">
					<div class="row">
						<div class="col-sm-2 mb-sm-0 mb-3">
							<i class="fas fa-comments"></i>
						</div>
						<div class="col-sm-10">
							<h4 class="text-uppercase mb-4">General Communication</h4>
							<p class="mb-3 text-capitalize">for general queries, including partnership opportunities, please email us at <a href="mailto:info@example.com">info@example.com</a></p>
						</div>
					</div>
			</div>
				</div>
				<div class="col-md-6 mt-md-5 mt-2 information">
					<div class="row">
						<div class="col-sm-2 mb-sm-0 mb-3">
							<i class="fas fa-life-ring"></i>
						</div>
						<div class="col-sm-10">
							<h4 class="text-uppercase mb-4">Technical Support</h4>
							<p class="mb-3 text-capitalize">we are here to help! if you have technical issues, contact support <span>+12 388 455 6789</span>.</p>
						</div>
					</div>
				</div>
		</div>
	</div>
</section>
<app-footer></app-footer>