<div class="container">
  <div class="row">
    <div class="col-12">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li *ngFor="let image of IMAGES; index as i" data-target="#carouselExampleIndicators" data-slide-to="i" class="active"></li>      
            </ol>
            <div class="carousel-inner">
              <div  class="carousel-item active">
                <img class="d-block w-100" src="assets/images/RtImages/imgfour.jpg" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                 <b>Digital Transformation</b>
                  <h5><b><p>Empowering organizations to compete with current digital trends and evolutions</p></b></h5>
                </div>
              </div>
              <div  class="carousel-item active">
                  <img class="d-block w-100" src="assets/images/RtImages/imgsix.jpg" alt="Second slide">
                  <div class="carousel-caption d-none d-md-block">
                   <b>Digital Transformation</b>
                    <h5><b><p>Empowering organizations to compete with current digital trends and evolutions</p></b></h5>
                  </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
    </div>
  </div>  
</div>