<div class="banner">
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
		</ol>
		<div class="carousel-inner" role="listbox">		
			<div class="carousel-item active">
				<div class="carousel-caption">
					<h3>Business Consultant <span>Services</span></h3>
					<p class="text-capitalize mt-3 mb-sm-5 mb-4">Helping Compaines to build their biggest asset which is &quot;Human Capital&quot;</p>
					<a href="#">Find Out More <span class="fas fa-long-arrow-alt-down"></span></a>
				</div>
			</div>
			<div class="carousel-item item2">
				<div class="carousel-caption">
					<!-- <h3>Creative Agency <span>Business</span></h3> -->
					<p class="text-capitalize mt-3 mb-sm-5 mb-4">Ensuring growth by helping companies to build great teams.
						</p>
					<a href="#">Find Out More <span class="fas fa-long-arrow-alt-down"></span></a>
				</div>
			</div>
			<div class="carousel-item item3">
				<div class="carousel-caption">
					<!-- <h3>Talent Acquisition</h3> -->
					<p class="text-capitalize mt-3 mb-sm-5 mb-4">Find the right talent here. Exceutive Search and Staffing.
						</p>
					<a href="#">Find Out More <span class="fas fa-long-arrow-alt-down"></span></a>
				</div>
			</div>
		</div>
	</div>
</div>