<section class="help">
	<div class="layer py-5">
		<div class="container py-lg-5">
		</div>
	</div>
</section>
<section class="about-top py-5 my-lg-5">
	<div class="container">
		<div class="row top-grids">
			<div class="col-lg-9 my-lg-0 my-5">
				<p>
					We are a prominent executive search and selection consultancy, providing a wide range of
					recruitment solutions for various requirements. We are a team of dedicated Professionals offering
					services across India. We provide the best recruitment solutions for every assignment while ensuring
					the quality, integrity and expertise. Our vast network of resources, enables us in finding the right
					candidate you expect with the promptness you need.</p>
				<p>
					We go through every bit and piece of our client’s requirement to fulfill their specific needs
				</p>
			</div>
			<!-- <div class="col-lg-2"></div> -->
			<div class="col-lg-3 col-sm-6">
				<img src="/assets/images/banner/slideone.jpg" alt="" class="img-fluid">
			</div>
		</div>
	</div>
</section>
<app-footer></app-footer>