
<section class="help">
	<div class="layer py-5">
		<div class="container py-lg-5">
		<h3 class="heading text-center text-capitalize mb-5">We help you in </h3>
			<div class="row help_grids">
				<div class="col-sm-4">
					<div class="row">
						<div class="col-lg-3 mb-lg-0 mb-4 icon">
							<i class="fas fa-briefcase"></i>
						</div>
						<div class="col-lg-9">
							<h4 class="text-uppercase mb-3">Business</h4>
							<p class="mb-3">Etiam luctus auctor nisl non ut dapibus. Etiam cursus luctus in sapien vitae posuere. Phasele utmauris sem.</p>
							<a href="#">Read More <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-sm-4 mt-sm-0 mt-4">
					<div class="row">
						<div class="col-lg-3 mb-lg-0 mb-4 icon">
							<i class="fas fa-signal"></i>
						</div>
						<div class="col-lg-9">
							<h4 class="text-uppercase mb-3">Strategy</h4>
							<p class="mb-3">Etiam luctus auctor nisl non ut dapibus. Etiam cursus luctus in sapien vitae posuere. Phasele utmauris sem.</p>
							<a href="#">Read More <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-sm-4 mt-sm-0 mt-4">
					<div class="row">
						<div class="col-lg-3 mb-lg-0 mb-4 icon">
							<i class="fab fa-connectdevelop"></i>
						</div>
						<div class="col-lg-9">
							<h4 class="text-uppercase mb-3">Technology</h4>
							<p class="mb-3">Etiam luctus auctor nisl non ut dapibus. Etiam cursus luctus in sapien vitae posuere. Phasele utmauris sem.</p>
							<a href="#">Read More <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="about-top py-5 my-lg-5">
	<div class="container">
		<h3 class="heading text-center text-capitalize mb-5">Checkout file Project </h3>
		<div class="row top-grids">
			<div class="col-lg-4">
				<h4 class="mb-4 text-capitalize">Ultrices facilisis tortor. init Aenean pharetra nibhsis consequat elet.</h4>
				<a href="#">Download file <i class="fas fa-download"></i></a>
			</div>
			<div class="col-lg-5 my-lg-0 my-5">
				<p>ultrices facilisis tortor. Aenean pharetra nibh et mi consequat commodo. Etiam luctus auctor nisl non dapibus. Etiam cursus luctus sapien vitae posuere. Phasellus ut mauris sem. Mauris lectus felis, dignissim non massa vel, fringilla maximus purus. Praesent tempus viverra diam vel egestas. Pellentesque rutrum velit in convallis semper.</p>
			</div>
			<div class="col-lg-3 col-sm-6">
				<img src="/src/assets/images/banner/slideone.jpg" alt="" class="img-fluid">
			</div>
		</div>
	</div>
</section>
<app-footer></app-footer>