
<app-imageslider></app-imageslider>
<section class="welcome py-5 my-lg-5">
	<div class="container">
		<div class="row welcome_grids">
			<div class="col-lg-7 mb-lg-0 mb-5">
				<h3 class="mb-3 text-capitalize">Welcome to Nano Key Technologies</h3>
				<p class="mb-5 mt-4"> At NanoKey, we are committed to build outstanding management teams for our clients to compete
					in the market. We provide the prefect match and solutions for the human resource needs of our
					client through long-term client relationship. Built on experience, insight and teamwork!</p>
				<a href="#" class="text-uppercase" data-toggle="modal" data-target="#exampleModal"><span class="fas fa-play-circle"></span> Check Video </a>
			</div>
			<div class="col-lg-5 welcome_right">
				<img src="assets/images/banner/slide.jpg" alt="" class="img-fluid">
			</div>
		</div>
	</div>
</section>
<app-footer></app-footer>

